* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 15px 40px 15px 40px;;
  background-color: #353746;
}

.logo {
  float: left;
  padding: 0px 40px 0px 0px;
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
  cursor: pointer;

}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
