<div class="accordion" id="accordionPanelsStayOpenExample" style="width: 800px; margin: 0 auto; margin-top: 25px;"
     xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div *ngFor="let adultPassenger of adultPassengers; let i = index" class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              attr.data-bs-target="#panelsStayOpen-collapseOne{{i}}" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
              style="font-size: 20px">
        <i class="bi bi-person" style="font-size: 40px"></i>
        &nbsp;Adulte {{i + 1}}
      </button>
    </h2>
    <div attr.id="panelsStayOpen-collapseOne{{i}}" class="accordion-collapse collapse"
         aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample" style="width: 80%; margin: 0 auto; margin-top: 25px;">
      <div style="display: flex; width: 200px">
        <span class="input-group-text" id="basic-addon1">Civilité :</span>
        <select [(ngModel)]="adultPassenger.passengerCivility.code" class="form-select" aria-label="Default select example">
          <option value="Mr">M.</option>
          <option value="Mrs">Mme</option>
          <option value="Miss">Mlle</option>
        </select>
      </div>

      <div class="input-group mb-3" style="margin-top: 10px; display: flex; column-gap: 20%">
        <div style="display: flex; flex-direction: column">
          <span class="input-group-text" id="basic-addon2">Nom de famille: *</span>
          <input [(ngModel)]="adultPassenger.passengerLastName" type="text" class="form-control" placeholder="Écrivez ici..."
                 aria-label="Username">
        </div>
        <div style="display: flex; flex-direction: column;">
          <span class="input-group-text" id="basic-addon3">Prénom: *</span>
          <input [(ngModel)]="adultPassenger.passengerFirstName" type="text" class="form-control" placeholder="Écrivez ici..." aria-label="Server">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExamplec" style="width: 800px; margin: 0 auto; margin-top: 25px;">
  <div *ngFor="let childPassenger of childPassengers; let i = index" class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOnec">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              attr.data-bs-target="#panelsStayOpen-collapseOne{{i + 100}}" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
              style="font-size: 20px">
        <i class="bi bi-person" style="font-size: 40px"></i>
        &nbsp;Enfant {{i + 1}}
      </button>
    </h2>
    <div attr.id="panelsStayOpen-collapseOne{{i + 100}}" class="accordion-collapse collapse"
         aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExamplec" style="width: 80%; margin: 0 auto; margin-top: 25px;">
      <div style="display: flex; width: 200px">
        <span class="input-group-text" id="basic-addon1c">Civilité :</span>
        <select [(ngModel)]="childPassenger.passengerCivility.code" class="form-select" aria-label="Default select example">
          <option selected>---</option>
          <option value="1">M.</option>
          <option value="2">Mme</option>
          <option value="3">Mlle</option>
        </select>
      </div>

      <div class="input-group mb-3" style="margin-top: 10px; display: flex; column-gap: 20%">
        <div style="display: flex; flex-direction: column">
          <span class="input-group-text" id="basic-addon2c">Nom de famille: *</span>
          <input [(ngModel)]="childPassenger.passengerLastName" type="text" class="form-control" placeholder="Écrivez ici..."
                 aria-label="Username">
        </div>
        <div style="display: flex; flex-direction: column;">
          <span class="input-group-text" id="basic-addon3c">Prénom: *</span>
          <input [(ngModel)]="childPassenger.passengerFirstName" type="text" class="form-control" placeholder="Écrivez ici..." aria-label="Server">
        </div>
      </div>

      <div class="input-group mb-3" style="margin-top: 10px; display: flex; column-gap: 20%">
        <div style="display: flex; flex-direction: column">
          <span class="input-group-text" id="basic-addon4c">Date de naissance: *</span>
          <input
            type="date"
            class="form-control"
            id="return-date-input"
            aria-describedby="return-date-label"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <button class="btn ml-auto btn-sm" style="display: block; margin: 0 auto;"
          (click) = "check(adultPassengers.concat(childPassengers))"
          [ngClass]="{'btn-success': checkker, 'btn-secondary': !checkker}"
  >
    Verifier les donnees
  </button>
</div>


<div class="d-flex alert alert-danger" style="width: 380px; margin: 0 auto; margin-top: 10px" *ngIf="!checkker && clicked" role="alert">
  svp remplir tous les champs puis cliquez sur verifier.
</div>

<div class="d-flex" style="margin-right: 25px">
  <button class="btn btn-primary ml-auto btn-lg" style="margin-bottom: 25px"
          [disabled]="!checkker"
          (click) = "check(adultPassengers.concat(childPassengers))"
  >
    Continuer
  </button>
</div>
