<div class="container-sm">
  <div class="my-2 card">
    <div class="card-body">
      <h5 class="card-title">Locations</h5>
      <div class="row">
        <div class="col-sm">
          <div class="mb-2">
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Departure city</mat-label>
                <input type="text"
                       matInput [formControl]="control" [matAutocomplete]="auto"
                       type="text"
                       #origin
                       list="origin-options"
                       id="origin-input"
                       placeholder="Pick a departure city"
                       aria-describedby="origin-label"
                       aria-label="Number"
                       matInput
                       [formControl]="control"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.city}} ({{option.code}})
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
            <datalist id="origin-options"></datalist>
          </div>
        </div>
        <div class="col-sm">
          <div class="mb-2">
            <div class="input-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Arrival city</mat-label>
                <input type="text"
                       matInput [formControl]="control" [matAutocomplete]="auto"
                       type="text"
                       #destination
                       list="origin-options"
                       id="destination-input"
                       placeholder="Pick a departure city"
                       aria-describedby="origin-label"
                       aria-label="Number"
                       matInput
                       [formControl]="control"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.city}} ({{option.code}})
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <datalist id="destination-options"></datalist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2 col">
      <div class="h-100 card">
        <div class="card-body">
          <h5 class="card-title">Dates</h5>
          <!--<div class="mb-2">
            <label id="flight-type-label" for="flight-type-select" class="form-label">
              Flight
            </label>
            <select id="flight-type-select" class="form-select" aria-describedby="flight-type-label">
              <option value="one-way">One-way</option>
              <option value="round-trip">Round-trip</option>
            </select>
          </div>-->
          <div id="departure-date" class="mb-2">
            <label id="departure-date-label" for="departure-date-input" class="form-label">
              Departure date
            </label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi-calendar"></i>
              </span>
              <input
                type="date"
                #depDate
                class="form-control"
                id="departure-date-input"
                aria-describedby="departure-date-label"
              />
            </div>
          </div>
          <!--<div id="return-date" class="mb-2">
            <label
              id="return-date-label"
              for="return-date-input"
              class="form-label"
            >Return date</label
            >
            <div class="input-group">
                  <span class="input-group-text"
                  ><i class="bi-calendar-fill"></i>
                  </span>
              <input
                type="date"
                class="form-control"
                id="return-date-input"
                aria-describedby="return-date-label"
              />
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!--<div class="mb-2 col">
      <div class="h-100 card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <div class="mb-2">
            <label
              id="travel-class-label"
              for="travel-class-select"
              class="form-label"
            >Travel class</label
            >
            <select
              class="form-select"
              id="travel-class-select"
              aria-describedby="travel-class-label"
            >
              <option value="ECONOMY">Economy</option>
              <option value="PREMIUM_ECONOMY">Premium Economy</option>
              <option value="BUSINESS">Business</option>
              <option value="FIRST">First</option>
            </select>
          </div>
          <label class="form-label">Passengers</label>
          <div class="mb-2">
            <div class="input-group">
              <label for="adults-input" class="input-group-text"
              >Adults</label
              >
              <input
                type="number"
                min="0"
                class="form-control"
                id="adults-input"
                aria-describedby="adults-label"
              />
            </div>
            <span id="adults-label" class="form-text"
            >12 years old and older</span
            >
          </div>
          <div class="mb-2">
            <div class="input-group">
              <label for="children-input" class="input-group-text"
              >Children</label
              >
              <input
                type="number"
                min="0"
                class="form-control"
                id="children-input"
                aria-describedby="children-label"
              />
            </div>
            <span id="children-label" class="form-text"
            >2 to 12 years old</span
            >
          </div>
          <div class="mb-2">
            <div class="input-group">
              <label for="infants-input" class="input-group-text"
              >Infants</label
              >
              <input
                type="number"
                min="0"
                class="form-control"
                id="infants-input"
                aria-describedby="infants-label"
              />
            </div>
            <span id="infants-label" class="form-text"
            >Up to 2 years old</span
            >
          </div>
        </div>
      </div>
    </div>-->
  </div>
  <button [disabled]="" (click)="onSearchFlight(origin.value, destination.value, depDate.value)" type="submit" id="search-button" class="w-100 btn btn-primary">Search</button>
</div>

<!--<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>-->
